{
    "openapi": "3.0.0",
    "info": {
        "title": "Sukker API",
        "version": "1.0.0",
        "description": "Auto-generated OpenAPI 3 specification based on Yii route configuration in sukker-api."
    },
    "servers": [
        {
            "url": "https://api.sukker.no",
            "description": "Production (example; adjust to your actual base URL)"
        }
    ],
    "paths": {
        "/album/blur/{hashToCompare}-{size}.jpg": {
            "get": {
                "tags": [
                    "profile"
                ],
                "operationId": "profile_albumPhoto",
                "summary": "Auto-generated operation for ProfileController::albumPhotoAction (GET /album/blur/{hashToCompare}-{size}.jpg)",
                "parameters": [
                    {
                        "name": "hashToCompare",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "description": "Path parameter 'hashToCompare' (auto-detected from route regex: [a-zA-Z0-9]+)"
                    },
                    {
                        "name": "size",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "description": "Path parameter 'size' (auto-detected from route regex: [sml])"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "description": "Response body (structure not yet documented; auto-generated placeholder)"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not found"
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                }
            }
        },
        "/auth/email/change": {
            "post": {
                "tags": [
                    "email"
                ],
                "operationId": "email_requestChangeEmail",
                "summary": "Auto-generated operation for EmailController::requestChangeEmailAction (POST /auth/email/change)",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "description": "Response body (structure not yet documented; auto-generated placeholder)"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not found"
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                }
            }
        },
        "/auth/email/confirm": {
            "post": {
                "tags": [
                    "email"
                ],
                "operationId": "email_confirmEmailPOST",
                "summary": "Auto-generated operation for EmailController::confirmEmailPOSTAction (POST /auth/email/confirm)",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "description": "Response body (structure not yet documented; auto-generated placeholder)"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not found"
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                }
            }
        },
        "/auth/email/request-verification": {
            "post": {
                "tags": [
                    "email"
                ],
                "operationId": "email_requestConfirmationEmail",
                "summary": "Auto-generated operation for EmailController::requestConfirmationEmailAction (POST /auth/email/request-verification)",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "description": "Response body (structure not yet documented; auto-generated placeholder)"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not found"
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                }
            }
        },
        "/auth/instagram/callback": {
            "get": {
                "tags": [
                    "instagram"
                ],
                "operationId": "instagram_authRedirect",
                "summary": "Auto-generated operation for InstagramController::authRedirectAction (GET /auth/instagram/callback)",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "description": "Response body (structure not yet documented; auto-generated placeholder)"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not found"
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                }
            }
        },
        "/auth/instagram/connect": {
            "get": {
                "tags": [
                    "instagram"
                ],
                "operationId": "instagram_auth",
                "summary": "Auto-generated operation for InstagramController::authAction (GET /auth/instagram/connect)",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "description": "Response body (structure not yet documented; auto-generated placeholder)"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not found"
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                }
            }
        },
        "/auth/instagram/user": {
            "get": {
                "tags": [
                    "instagram"
                ],
                "operationId": "instagram_getUser",
                "summary": "Auto-generated operation for InstagramController::getUserAction (GET /auth/instagram/user)",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "description": "Response body (structure not yet documented; auto-generated placeholder)"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not found"
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                }
            }
        },
        "/auth/loginstate": {
            "get": {
                "tags": [
                    "auth"
                ],
                "operationId": "auth_loginState",
                "summary": "Auto-generated operation for AuthController::loginStateAction (GET /auth/loginstate)",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "description": "Response body (structure not yet documented; auto-generated placeholder)"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not found"
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                }
            }
        },
        "/auth/password/change": {
            "post": {
                "tags": [
                    "auth"
                ],
                "operationId": "auth_changePassword",
                "summary": "Auto-generated operation for AuthController::changePasswordAction (POST /auth/password/change)",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "description": "Response body (structure not yet documented; auto-generated placeholder)"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not found"
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                }
            }
        },
        "/auth/password/reset": {
            "post": {
                "tags": [
                    "auth"
                ],
                "operationId": "auth_resetPassword",
                "summary": "Auto-generated operation for AuthController::resetPasswordAction (POST /auth/password/reset)",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "description": "Response body (structure not yet documented; auto-generated placeholder)"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not found"
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                }
            }
        },
        "/auth/password/verify/token": {
            "post": {
                "tags": [
                    "auth"
                ],
                "operationId": "auth_verifyToken",
                "summary": "Auto-generated operation for AuthController::verifyTokenAction (POST /auth/password/verify/token)",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "description": "Response body (structure not yet documented; auto-generated placeholder)"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not found"
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                }
            }
        },
        "/banners": {
            "get": {
                "tags": [
                    "system"
                ],
                "operationId": "system_getBanners",
                "summary": "Auto-generated operation for SystemController::getBannersAction (GET /banners)",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "description": "Response body (structure not yet documented; auto-generated placeholder)"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not found"
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                }
            }
        },
        "/bekreft-epost/{id}/{code}": {
            "get": {
                "tags": [
                    "email"
                ],
                "operationId": "email_confirmEmailGET",
                "summary": "Auto-generated operation for EmailController::confirmEmailGETAction (GET /bekreft-epost/{id}/{code})",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        },
                        "description": "Path parameter 'id' (auto-detected from route regex: \\d+)"
                    },
                    {
                        "name": "code",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "description": "Path parameter 'code' (auto-detected from route regex: \\w+)"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "description": "Response body (structure not yet documented; auto-generated placeholder)"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not found"
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                }
            }
        },
        "/blog/post/{postId}": {
            "get": {
                "tags": [
                    "blog"
                ],
                "operationId": "blog_getPost",
                "summary": "Auto-generated operation for BlogController::getPostAction (GET /blog/post/{postId})",
                "parameters": [
                    {
                        "name": "postId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        },
                        "description": "Path parameter 'postId' (auto-detected from route regex: [0-9]+)"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "description": "Response body (structure not yet documented; auto-generated placeholder)"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not found"
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                }
            }
        },
        "/blog/post/{postId}/comment": {
            "post": {
                "tags": [
                    "blog"
                ],
                "operationId": "blog_createComment",
                "summary": "Auto-generated operation for BlogController::createCommentAction (POST /blog/post/{postId}/comment)",
                "parameters": [
                    {
                        "name": "postId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        },
                        "description": "Path parameter 'postId' (auto-detected from route regex: [0-9]+)"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "description": "Response body (structure not yet documented; auto-generated placeholder)"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not found"
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                }
            }
        },
        "/blog/post/{postId}/comments/{limit}/{offset}": {
            "get": {
                "tags": [
                    "blog"
                ],
                "operationId": "blog_getCommentsBelongingToPost",
                "summary": "Auto-generated operation for BlogController::getCommentsBelongingToPostAction (GET /blog/post/{postId}/comments/{limit}/{offset})",
                "parameters": [
                    {
                        "name": "postId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        },
                        "description": "Path parameter 'postId' (auto-detected from route regex: [0-9]+)"
                    },
                    {
                        "name": "limit",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        },
                        "description": "Path parameter 'limit' (auto-detected from route regex: [0-9]+)"
                    },
                    {
                        "name": "offset",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        },
                        "description": "Path parameter 'offset' (auto-detected from route regex: [0-9]+)"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "description": "Response body (structure not yet documented; auto-generated placeholder)"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not found"
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                }
            }
        },
        "/blog/post/{year}/{month}/{slug}": {
            "get": {
                "tags": [
                    "blog"
                ],
                "operationId": "blog_getPostByYearMonthSlug",
                "summary": "Auto-generated operation for BlogController::getPostByYearMonthSlugAction (GET /blog/post/{year}/{month}/{slug})",
                "parameters": [
                    {
                        "name": "year",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "description": "Path parameter 'year' (auto-detected from route regex: \\d{4})"
                    },
                    {
                        "name": "month",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "description": "Path parameter 'month' (auto-detected from route regex: \\d{2})"
                    },
                    {
                        "name": "slug",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "description": "Path parameter 'slug' (auto-detected from route regex: [a-zA-Z\u00c6\u00e6\u00d8\u00f8\u00c5\u00e5%;0-9 _-]+)"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "description": "Response body (structure not yet documented; auto-generated placeholder)"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not found"
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                }
            }
        },
        "/blog/{categoryId}": {
            "get": {
                "tags": [
                    "blog"
                ],
                "operationId": "blog_getCategoryWithSubCategories",
                "summary": "Auto-generated operation for BlogController::getCategoryWithSubCategoriesAction (GET /blog/{categoryId})",
                "parameters": [
                    {
                        "name": "categoryId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        },
                        "description": "Path parameter 'categoryId' (auto-detected from route regex: [0-9]+)"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "description": "Response body (structure not yet documented; auto-generated placeholder)"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not found"
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                }
            }
        },
        "/blog/{categoryId}/posts/{limit}/{offset}": {
            "get": {
                "tags": [
                    "blog"
                ],
                "operationId": "blog_getPostsInCategory",
                "summary": "Auto-generated operation for BlogController::getPostsInCategoryAction (GET /blog/{categoryId}/posts/{limit}/{offset})",
                "parameters": [
                    {
                        "name": "categoryId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        },
                        "description": "Path parameter 'categoryId' (auto-detected from route regex: [0-9]+)"
                    },
                    {
                        "name": "limit",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        },
                        "description": "Path parameter 'limit' (auto-detected from route regex: [0-9]+)"
                    },
                    {
                        "name": "offset",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        },
                        "description": "Path parameter 'offset' (auto-detected from route regex: [0-9]+)"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "description": "Response body (structure not yet documented; auto-generated placeholder)"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not found"
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                }
            }
        },
        "/campaign/firstdate": {
            "get": {
                "tags": [
                    "campaign"
                ],
                "operationId": "campaign_isAttendingFirstDate",
                "summary": "Auto-generated operation for CampaignController::isAttendingFirstDateAction (GET /campaign/firstdate)",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "description": "Response body (structure not yet documented; auto-generated placeholder)"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not found"
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                }
            },
            "post": {
                "tags": [
                    "campaign"
                ],
                "operationId": "campaign_attendFirstDate",
                "summary": "Auto-generated operation for CampaignController::attendFirstDateAction (POST /campaign/firstdate)",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "description": "Response body (structure not yet documented; auto-generated placeholder)"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not found"
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                }
            }
        },
        "/campaign/{name}": {
            "get": {
                "tags": [
                    "campaign"
                ],
                "operationId": "campaign_getCampaign",
                "summary": "Auto-generated operation for CampaignController::getCampaignAction (GET /campaign/{name})",
                "parameters": [
                    {
                        "name": "name",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "description": "Path parameter 'name' (auto-detected from route regex: [a-zA-Z0-9\u00e6\u00f8\u00e5\u00c6\u00d8\u00c5_.-]+)"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "description": "Response body (structure not yet documented; auto-generated placeholder)"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not found"
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                }
            }
        },
        "/campaign/{name}/redeem": {
            "get": {
                "tags": [
                    "campaign"
                ],
                "operationId": "campaign_redeemCampaign",
                "summary": "Auto-generated operation for CampaignController::redeemCampaignAction (GET /campaign/{name}/redeem)",
                "parameters": [
                    {
                        "name": "name",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "description": "Path parameter 'name' (auto-detected from route regex: [a-zA-Z0-9\u00e6\u00f8\u00e5\u00c6\u00d8\u00c5_.-]+)"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "description": "Response body (structure not yet documented; auto-generated placeholder)"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not found"
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                }
            }
        },
        "/chat/image": {
            "get": {
                "tags": [
                    "chat"
                ],
                "operationId": "chat_getSessionCookieImageWorkaround",
                "summary": "Auto-generated operation for ChatController::getSessionCookieImageWorkaroundAction (GET /chat/image)",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "description": "Response body (structure not yet documented; auto-generated placeholder)"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not found"
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                }
            }
        },
        "/chat/{channel}": {
            "post": {
                "tags": [
                    "chat"
                ],
                "operationId": "chat_sendMessage",
                "summary": "Auto-generated operation for ChatController::sendMessageAction (POST /chat/{channel})",
                "parameters": [
                    {
                        "name": "channel",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "description": "Path parameter 'channel' (auto-detected from route regex: [a-zA-Z0-9_-]+)"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "description": "Response body (structure not yet documented; auto-generated placeholder)"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not found"
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                }
            }
        },
        "/chat/{channel}/{limit}/{offset}": {
            "get": {
                "tags": [
                    "chat"
                ],
                "operationId": "chat_getChatMessages",
                "summary": "Auto-generated operation for ChatController::getChatMessagesAction (GET /chat/{channel}/{limit}/{offset})",
                "parameters": [
                    {
                        "name": "channel",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "description": "Path parameter 'channel' (auto-detected from route regex: [a-zA-Z0-9_-]+)"
                    },
                    {
                        "name": "limit",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        },
                        "description": "Path parameter 'limit' (auto-detected from route regex: [0-9]+)"
                    },
                    {
                        "name": "offset",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        },
                        "description": "Path parameter 'offset' (auto-detected from route regex: [0-9]+)"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "description": "Response body (structure not yet documented; auto-generated placeholder)"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not found"
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                }
            }
        },
        "/couplesmatch/matchdata/{id}": {
            "get": {
                "tags": [
                    "couplesMatch"
                ],
                "operationId": "couplesMatch_getMatchData",
                "summary": "Auto-generated operation for CouplesMatchController::getMatchDataAction (GET /couplesmatch/matchdata/{id})",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "description": "Path parameter 'id' (auto-detected from route regex: [a-z0-9]{8}-([a-z0-9]{4}-){3}[a-z0-9]{12})"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "description": "Response body (structure not yet documented; auto-generated placeholder)"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not found"
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                }
            }
        },
        "/couplesmatch/{id}": {
            "get": {
                "tags": [
                    "couplesMatch"
                ],
                "operationId": "couplesMatch_getQuestionsAndFormData",
                "summary": "Auto-generated operation for CouplesMatchController::getQuestionsAndFormDataAction (GET /couplesmatch/{id})",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "description": "Path parameter 'id' (auto-detected from route regex: [a-z0-9]{8}-([a-z0-9]{4}-){3}[a-z0-9]{12})"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "description": "Response body (structure not yet documented; auto-generated placeholder)"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not found"
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                }
            },
            "post": {
                "tags": [
                    "couplesMatch"
                ],
                "operationId": "couplesMatch_writeQuestionsAndFormData",
                "summary": "Auto-generated operation for CouplesMatchController::writeQuestionsAndFormDataAction (POST /couplesmatch/{id})",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "description": "Path parameter 'id' (auto-detected from route regex: [a-z0-9]{8}-([a-z0-9]{4}-){3}[a-z0-9]{12})"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "description": "Response body (structure not yet documented; auto-generated placeholder)"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not found"
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                }
            }
        },
        "/embeddable/scan": {
            "post": {
                "tags": [
                    "embeddableResourceScanner"
                ],
                "operationId": "embeddableResourceScanner_scanText",
                "summary": "Auto-generated operation for EmbeddableResourceScannerController::scanTextAction (POST /embeddable/scan)",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "description": "Response body (structure not yet documented; auto-generated placeholder)"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not found"
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                }
            }
        },
        "/events": {
            "get": {
                "tags": [
                    "event"
                ],
                "operationId": "event_events",
                "summary": "Auto-generated operation for EventController::eventsAction (GET /events)",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "description": "Response body (structure not yet documented; auto-generated placeholder)"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not found"
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                }
            }
        },
        "/events/qrcode/{code}": {
            "get": {
                "tags": [
                    "event"
                ],
                "operationId": "event_eventQRCode",
                "summary": "Auto-generated operation for EventController::eventQRCodeAction (GET /events/qrcode/{code})",
                "parameters": [
                    {
                        "name": "code",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "description": "Path parameter 'code' (auto-detected from route regex: .+)"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "description": "Response body (structure not yet documented; auto-generated placeholder)"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not found"
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                }
            }
        },
        "/events/{blogPostId}": {
            "get": {
                "tags": [
                    "event"
                ],
                "operationId": "event_getEvent",
                "summary": "Auto-generated operation for EventController::getEventAction (GET /events/{blogPostId})",
                "parameters": [
                    {
                        "name": "blogPostId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        },
                        "description": "Path parameter 'blogPostId' (auto-detected from route regex: [0-9]+)"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "description": "Response body (structure not yet documented; auto-generated placeholder)"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not found"
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                }
            }
        },
        "/events/{blogPostId}/invite": {
            "post": {
                "tags": [
                    "event"
                ],
                "operationId": "event_eventInvite",
                "summary": "Auto-generated operation for EventController::eventInviteAction (POST /events/{blogPostId}/invite)",
                "parameters": [
                    {
                        "name": "blogPostId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        },
                        "description": "Path parameter 'blogPostId' (auto-detected from route regex: [0-9]+)"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "description": "Response body (structure not yet documented; auto-generated placeholder)"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not found"
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                }
            }
        },
        "/events/{blogPostId}/unregister": {
            "post": {
                "tags": [
                    "event"
                ],
                "operationId": "event_unregisterAtEvent",
                "summary": "Auto-generated operation for EventController::unregisterAtEventAction (POST /events/{blogPostId}/unregister)",
                "parameters": [
                    {
                        "name": "blogPostId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        },
                        "description": "Path parameter 'blogPostId' (auto-detected from route regex: [0-9]+)"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "description": "Response body (structure not yet documented; auto-generated placeholder)"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not found"
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                }
            }
        },
        "/expo": {
            "put": {
                "tags": [
                    "expo"
                ],
                "operationId": "expo_update",
                "summary": "Auto-generated operation for ExpoController::updateAction (PUT /expo)",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "description": "Response body (structure not yet documented; auto-generated placeholder)"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not found"
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                }
            },
            "get": {
                "tags": [
                    "expo"
                ],
                "operationId": "expo_getExpoModel",
                "summary": "Auto-generated operation for ExpoController::getExpoModelAction (GET /expo)",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "description": "Response body (structure not yet documented; auto-generated placeholder)"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not found"
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                }
            }
        },
        "/expo/log": {
            "post": {
                "tags": [
                    "expo"
                ],
                "operationId": "expo_log",
                "summary": "Auto-generated operation for ExpoController::logAction (POST /expo/log)",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "description": "Response body (structure not yet documented; auto-generated placeholder)"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not found"
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                }
            }
        },
        "/expo/submit": {
            "post": {
                "tags": [
                    "expo"
                ],
                "operationId": "expo_submit",
                "summary": "Auto-generated operation for ExpoController::submitAction (POST /expo/submit)",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "description": "Response body (structure not yet documented; auto-generated placeholder)"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not found"
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                }
            }
        },
        "/forum": {
            "post": {
                "tags": [
                    "forum"
                ],
                "operationId": "forum_new",
                "summary": "Auto-generated operation for ForumController::newAction (POST /forum)",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "description": "Response body (structure not yet documented; auto-generated placeholder)"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not found"
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                }
            }
        },
        "/forum/search": {
            "post": {
                "tags": [
                    "forum"
                ],
                "operationId": "forum_search",
                "summary": "Auto-generated operation for ForumController::searchAction (POST /forum/search)",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "description": "Response body (structure not yet documented; auto-generated placeholder)"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not found"
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                }
            }
        },
        "/forum/{limit}/{offset}": {
            "get": {
                "tags": [
                    "forum"
                ],
                "operationId": "forum_getThreads",
                "summary": "Auto-generated operation for ForumController::getThreadsAction (GET /forum/{limit}/{offset})",
                "parameters": [
                    {
                        "name": "limit",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        },
                        "description": "Path parameter 'limit' (auto-detected from route regex: \\d+)"
                    },
                    {
                        "name": "offset",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        },
                        "description": "Path parameter 'offset' (auto-detected from route regex: \\d+)"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "description": "Response body (structure not yet documented; auto-generated placeholder)"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not found"
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                }
            }
        },
        "/forum/{postId}/{flag}/{state}": {
            "put": {
                "tags": [
                    "forum"
                ],
                "operationId": "forum_flag",
                "summary": "Auto-generated operation for ForumController::flagAction (PUT /forum/{postId}/{flag}/{state})",
                "parameters": [
                    {
                        "name": "postId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        },
                        "description": "Path parameter 'postId' (auto-detected from route regex: \\d+)"
                    },
                    {
                        "name": "flag",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "description": "Path parameter 'flag' (auto-detected from route regex: unserious)"
                    },
                    {
                        "name": "state",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "description": "Path parameter 'state' (auto-detected from route regex: (en|dis)able)"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "description": "Response body (structure not yet documented; auto-generated placeholder)"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not found"
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                }
            }
        },
        "/forum/{threadId}": {
            "post": {
                "tags": [
                    "forum"
                ],
                "operationId": "forum_reply",
                "summary": "Auto-generated operation for ForumController::replyAction (POST /forum/{threadId})",
                "parameters": [
                    {
                        "name": "threadId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        },
                        "description": "Path parameter 'threadId' (auto-detected from route regex: \\d+)"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "description": "Response body (structure not yet documented; auto-generated placeholder)"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not found"
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                }
            },
            "delete": {
                "tags": [
                    "forum"
                ],
                "operationId": "forum_delete",
                "summary": "Auto-generated operation for ForumController::deleteAction (DELETE /forum/{threadId})",
                "parameters": [
                    {
                        "name": "threadId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        },
                        "description": "Path parameter 'threadId' (auto-detected from route regex: \\d+)"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "description": "Response body (structure not yet documented; auto-generated placeholder)"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not found"
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                }
            }
        },
        "/forum/{threadId}/{limit}/{offset}": {
            "get": {
                "tags": [
                    "forum"
                ],
                "operationId": "forum_getThread",
                "summary": "Auto-generated operation for ForumController::getThreadAction (GET /forum/{threadId}/{limit}/{offset})",
                "parameters": [
                    {
                        "name": "threadId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        },
                        "description": "Path parameter 'threadId' (auto-detected from route regex: \\d+)"
                    },
                    {
                        "name": "limit",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        },
                        "description": "Path parameter 'limit' (auto-detected from route regex: \\d+)"
                    },
                    {
                        "name": "offset",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        },
                        "description": "Path parameter 'offset' (auto-detected from route regex: \\d+)"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "description": "Response body (structure not yet documented; auto-generated placeholder)"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not found"
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                }
            }
        },
        "/forum/{threadId}/{limit}/{offset}/{order}": {
            "get": {
                "tags": [
                    "forum"
                ],
                "operationId": "forum_getThread",
                "summary": "Auto-generated operation for ForumController::getThreadAction (GET /forum/{threadId}/{limit}/{offset}/{order})",
                "parameters": [
                    {
                        "name": "threadId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        },
                        "description": "Path parameter 'threadId' (auto-detected from route regex: \\d+)"
                    },
                    {
                        "name": "limit",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        },
                        "description": "Path parameter 'limit' (auto-detected from route regex: \\d+)"
                    },
                    {
                        "name": "offset",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        },
                        "description": "Path parameter 'offset' (auto-detected from route regex: \\d+)"
                    },
                    {
                        "name": "order",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "description": "Path parameter 'order' (auto-detected from route regex: (asc|desc))"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "description": "Response body (structure not yet documented; auto-generated placeholder)"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not found"
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                }
            }
        },
        "/geo/address/latlng": {
            "post": {
                "tags": [
                    "geo"
                ],
                "operationId": "geo_addressByLatLng",
                "summary": "Auto-generated operation for GeoController::addressByLatLngAction (POST /geo/address/latlng)",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "description": "Response body (structure not yet documented; auto-generated placeholder)"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not found"
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                }
            }
        },
        "/geo/county/ip": {
            "get": {
                "tags": [
                    "geo"
                ],
                "operationId": "geo_countyByIp",
                "summary": "Auto-generated operation for GeoController::countyByIpAction (GET /geo/county/ip)",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "description": "Response body (structure not yet documented; auto-generated placeholder)"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not found"
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                }
            }
        },
        "/internal/flagUsersOnline": {
            "post": {
                "tags": [
                    "internal"
                ],
                "operationId": "internal_flagUsersOnline",
                "summary": "Auto-generated operation for InternalController::flagUsersOnlineAction (POST /internal/flagUsersOnline)",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "description": "Response body (structure not yet documented; auto-generated placeholder)"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not found"
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                }
            }
        },
        "/log": {
            "post": {
                "tags": [
                    "log"
                ],
                "operationId": "log_log",
                "summary": "Auto-generated operation for LogController::logAction (POST /log)",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "description": "Response body (structure not yet documented; auto-generated placeholder)"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not found"
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                }
            }
        },
        "/looks/matches/count/new": {
            "get": {
                "tags": [
                    "user"
                ],
                "operationId": "user_getUnreadLooksCount",
                "summary": "Auto-generated operation for UserController::getUnreadLooksCountAction (GET /looks/matches/count/new)",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "description": "Response body (structure not yet documented; auto-generated placeholder)"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not found"
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                }
            }
        },
        "/looks/{limit}/{offset}": {
            "post": {
                "tags": [
                    "looks"
                ],
                "operationId": "looks_looks",
                "summary": "Auto-generated operation for LooksController::looksAction (POST /looks/{limit}/{offset})",
                "parameters": [
                    {
                        "name": "limit",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        },
                        "description": "Path parameter 'limit' (auto-detected from route regex: \\d+)"
                    },
                    {
                        "name": "offset",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        },
                        "description": "Path parameter 'offset' (auto-detected from route regex: \\d+)"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "description": "Response body (structure not yet documented; auto-generated placeholder)"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not found"
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                }
            }
        },
        "/matchlist/{listId}/{cacheToken}/{withExtendedInfo}/{limit}/{offset}": {
            "get": {
                "tags": [
                    "matchSearch"
                ],
                "operationId": "matchSearch_cacheList",
                "summary": "Auto-generated operation for MatchSearchController::cacheListAction (GET /matchlist/{listId}/{cacheToken}/{withExtendedInfo}/{limit}/{offset})",
                "parameters": [
                    {
                        "name": "listId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        },
                        "description": "Path parameter 'listId' (auto-detected from route regex: \\d+)"
                    },
                    {
                        "name": "cacheToken",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "description": "Path parameter 'cacheToken' (auto-detected from route regex: [a-zA-Z0-9]+)"
                    },
                    {
                        "name": "withExtendedInfo",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "description": "Path parameter 'withExtendedInfo' (auto-detected from route regex: (0|1))"
                    },
                    {
                        "name": "limit",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        },
                        "description": "Path parameter 'limit' (auto-detected from route regex: \\d+)"
                    },
                    {
                        "name": "offset",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        },
                        "description": "Path parameter 'offset' (auto-detected from route regex: \\d+)"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "description": "Response body (structure not yet documented; auto-generated placeholder)"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not found"
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                }
            }
        },
        "/matchlist/{listId}/{withExtendedInfo}/{limit}/{offset}": {
            "get": {
                "tags": [
                    "matchSearch"
                ],
                "operationId": "matchSearch_list",
                "summary": "Auto-generated operation for MatchSearchController::listAction (GET /matchlist/{listId}/{withExtendedInfo}/{limit}/{offset})",
                "parameters": [
                    {
                        "name": "listId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        },
                        "description": "Path parameter 'listId' (auto-detected from route regex: \\d+)"
                    },
                    {
[...]
